<%- include('header') %>

    <div class="content-container">
        <div class="content-title">
            <h2 class="subTitle">Contact</h1>
        </div>
        <div class="content-body">
            <div class="content-small-container">
                <div class="contact-items">
                    <a href="mailto:daniel@codebymini.se"><img src="/images/mail.png" class="contact-images"></a><p class="content-small-container">E-mail: <a href="mailto:daniel@codebymini.se">daniel@codebymini.se</a></p>
                </div>
                <div class="contact-items">
                    <a href="https://www.linkedin.com/in/codebymini/" target="_blank"><img src="/images/linkedin.png" class="contact-images"></a><p class="content-small-container">LinkedIn: <a href="https://www.linkedin.com/in/codebymini/" target="_blank">Daniel Johansson</a></p>
                </div>
                <div class="contact-items">
                    <a href="https://github.com/CodeByMini" target="_blank"><img src="/images/github.png" class="contact-images"></a><p class="content-small-container">GitHub: <a href="https://github.com/CodeByMini" target="_blank">CodeByMini</a></p>
                </div>    
            </div>
        </div> 
    </div>

<%- include('footer') %>