<%- include('header') %>

    <div class="content-container">
        <div class="content-title">
            <h2 class="subTitle">Contact</h1>
        </div>
        <div class="content-body">
            <div class="content-small-container">
            <img src="/images/mail.png" class="contactImage"><p>E-mail: <a href="mailto:daniel@codebymini.se">daniel@codebymini.se</a></p>
            <img src="/images/linkedin.png" class="contactImage"><p>LinkedIn: <a href="https://www.linkedin.com/in/daniel-johansson-4b099219a/">Daniel Johansson</a></p>
            <img src="/images/github.png" class="contactImage"><p>GitHub: <a href="https://github.com/CodeByMini">CodeByMini</a></p>
            </div>
        </div> 
    </div>

<%- include('footer') %>