<%- include('header') %>


    <div class="content-container">
        <div class="content-title">
            <h2>Curriculum vitae</h1>
        </div>
        <div class="content-body">
            <p></p>
                
            
        </div> 
    </div>

<%- include('footer') %>