<%- include('header') %>


    <div class="content-container">
        <div class="content-title">
            <h2>Curriculum vitae</h1>
        </div>
        <div class="content-body">
            <p>Den klart största anledningen till min nya yrkesbana kom när min äldsta son fick diagnosen Diabetes typ 1. Redan första veckan snubblade jag över en github repo av ett open-source projekt som kunde koppla ihop en insulinpump med en blodsockermätare. Detta ledde till att vår familj startade igång med Loop ca ett år senare, men också att jag blev väldigt drivande i det svenska community som byggts upp kring open-source teknik för diabetes.</p>
                
            
        </div> 
    </div>

<%- include('footer') %>