<%- include('header') %>
<div class="center">
    <div class="grid-container">
        <div class="header">
            <h1>CodeByMini</h1>
        </div>
        <div class="menu">
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">CV</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
        <div class="content">
                <h1>Hello World</h1>
        </div>
    </div>
</div>

<%- include('footer') %>