<%- include('header') %>

<div class="content-container">
    <div class="content-title">
        <h2 class="subTitle">Hello World</h1>
    </div>
    <div class="profile-image-container"><img src="/images/profile-picture.jpeg" class="profile-image"></div>
    <div class="content-body">
        <p>Efter ett sidospår (i ca 16 år) som ljusdesigner och belysningsmästare är jag tillbaka i programeringsvärlden och utbildar mig till IoT utvecklare på <a href="https://nackademin.se/utbildningar/internet-of-things-utvecklare/" target="_blank">Nackademin</a>.</p>
        <p>Den klart största anledningen till min nya yrkesbana kom när min äldsta son fick diagnosen Diabetes typ 1. Redan första veckan snubblade jag över en github repo av ett open-source projekt som kunde koppla ihop en insulinpump med en blodsockermätare. Detta ledde till att vår familj startade igång med <a href="https://loopkit.github.io/loopdocs/" target="_blank">Loop</a>, ett open-source projekt för att koppla ihop en insulinpump med en blodsockermätare, ca ett år senare, men också att jag blev väldigt drivande i det svenska community som byggts upp kring open-source teknik för diabetes.</p>               
        <p>Jag brinner för att skapa system som kan underlätta för människor, oavsett om det handlar om att tända en lampa med telefonen eller övervaka ett barns blodsocker. Jag älskar att lösa problem och tänker gärna utanför boxen. Med mina erfarenheter från teatern har jag drillats hårt i att lösa problem på ovanliga sätt.</p>                
        <p>Vill gärna ha kontakt med företag inom IoT för framtida samarbete!</p>                
        <p>Kunskaper/Intressen: C, C++, C#, Azure, Node.js, Javascript, HTML, CSS, Git, OpenSource</p>
    </div> 
</div>

<%- include('footer') %>