:root{
    --main-bg-color: rgb(60, 198, 140);
    --main-bg-color: #e88649;
    --main-logo-color: rgb(109, 108, 104);
    
    --text-color: rgb(235, 232, 217);
    --text-title-color: rgb(128, 127, 124);
    --text-body-title-color: rgb(235, 232, 217);
    --text-shadow-color: rgb(213, 211, 200);

    --main-a-color: #ffeb5c;
    --main-a-hover-color: rgb(197, 197, 195);
   
    --text-background-color:#49d0a7;

    --content-container-color: #e88649;
    --cv-items-color: rgba(155, 154, 153, 0);
    --cv-title-color: #68ceafaf;
    --cv-body-color: rgb(235, 232, 217);
    --cv-year-color: rgb(207, 202, 134);

    --footer-bg-color: rgb(49, 49, 45);
    --footer-text-color: rgb(235, 232, 217);
  }


body {
  background-color: var(--main-bg-color);
	font-family: 'Jetbrains Mono';
}
@page {
  size: 21cm 29.7cm;
  margin: 0mm 10mm 0mm 10mm;
}

.afour{
  page-break-after: always;

}
h1{
  color: var(--main-a-color);
}
h2{
  color: var(--main-a-color);
}

h3{
  color: var(--text-color);
}

p {
  font-size: 1.1rem;
  color: var(--text-color);
}

a{
  color: var(--main-a-color);
}

a:hover{
  color:var(--main-a-hover-color);
}

a:visited{
  color: var(--main-a-color);
}

.logo{
  float: right;
  height: 100px;
  margin: 10px;
  background-color: var(--main-logo-color);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.print{
  display: inline-block;
  margin:10px 0px 0px 20px;
  padding: 5px 5px 5px 5px;
  height: 70px;
  width: 70px;
  border-radius: 15px;
}
.print:hover{
  background-color: #ffffff;
}

.pdf-image-container{
  display: inline;
  padding: 20px;
}
.pdf-image{
  
  padding: 0px;
  height: 300px;
  border: 2px solid var(--main-a-color);
  border-radius: 15px;
 }

 .title-container{
   display: inline-block;
   padding: 20px;
 }

.pdf-body{
  display: inline-block;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.cv-items{
  padding: 20px;
  border: 0px solid;
  border-radius: 4px;
  background-color: var(--cv-items-color);
  margin: 10px;
}

.cvTitle{
  background-color: var(--cv-title-color);
  font-weight: bold;
  font-size: 1.2rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cvYear{
  background-color: var(--cv-year-color);
}

.cvBody{
  background-color: var(--cv-body-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px;
}

.cvBody a{
  color: #000;
}
.cvBody p{
  color: var(--text-title-color);
}
  
div.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  text-align: center;
  z-index: 1;
  background-color: var(--footer-bg-color);
  font-size:0.7em;
  color: var(--footer-text-color);
  overflow:hidden ;
}

@media print{
  .print{
    display: none;
  }
  .logo{
    display: none;
  }
  .afour{
    padding-top: 10px;
  }
  .pdf-image{
    padding: 0px;
    height: 250px;
  }
}