@media only screen and (max-width: 1000px) {
    .menu{
      display: none;
    }
    .content-container{
      width: 90%;
    }
    .top-container{
      width: 90%;
    }
    .content{
      width: 100%;
    }
    .content-body{
    margin-bottom:40px;
    }
    .content-small-container{
      width: 90%;
      margin: 0 auto 0 auto;
    }

    .smallscreenmenu{
      display: inline-block;
      background-color: var(--content-container-color);
      position: fixed;
      margin: 0px auto 20px 0;
      bottom: 0px;
      left: 0px;
      width: 100%;
      border-radius: 4px solid;
      z-index: 99;
    }
    .menuitems{
      display: inline;
      background-color: var(--content-container-color);
      width: 33%;
      float: left;
      border-right: 1px solid;
      border-top: 1px solid;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 auto 0 auto;
      overflow: hidden;
      color: var(--text-color);
      border-color: var(--main-a-hover-color);
    }

}

  @media only screen and (max-width: 850px) {
   .title{
     display: none;
   }
   .logo{
     display: block;
     float: none;
     margin: 0 auto 0 auto;
   }
  }
